python-telegram-bot
supabase
datetime
langgraph
langchain
openai==1.17.1
langchain_openai
jsonschema
litellm==1.37.0
groq
pypdf
python-docx
sentence-transformers
torch
scikit-learn
Flask
waitress
PyPDF2